<!DOCTYPE html>
<html>
<head>
  <title>NASC | 內政部空中勤務總隊</title>
  <%= stylesheet_link_tag    "application", media: "all"%>  
  <%= csrf_meta_tags %>
</head>

<body ng-app="ngApp">

<%= render partial:"/partials/navbar_admin" %>
<%= yield %>

<%= javascript_include_tag "application"%>
</body>
</html>
